.custom-node {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border:  none;
  color: #ff1100;
  font-size: 1.1em;
}

.box {
  width: 15em;
  background-color: blue;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}
.box div {
  padding-left: 1em;
}
.box div:hover {
  color: lightblue;
  animation: all 0.4s;
}

.label {
  font-weight: bolder;
  font-size: larger;
}

/* ---------Approval Css---------- */
