.custom-node {
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    background-color: rgb(238, 238, 238);
    font-size: 32px;
  }
  
  /* --------Optioncsss----------- */
  .box {
    width: 18em;
    background-color: blue;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
.box div {
    padding-left: 1em;
}
.box div:hover{
    color: lightblue;
    animation: all 0.4s;  
}